APP_NAME=NexaCampus
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nexacampus
DB_USERNAME=nexacampus
DB_PASSWORD=secret

POSTGRES_PORT=5432

# To use MariaDB instead:
# 1. Set DB_CONNECTION=mysql
# 2. Set DB_HOST=mariadb
# 3. Set DB_PORT=3306
# 4. Run: docker compose --profile mariadb up -d
MARIADB_PORT=3306
DB_ROOT_PASSWORD=rootsecret

CACHE_STORE=redis
SESSION_DRIVER=database
QUEUE_CONNECTION=database

MAIL_HOST=mailpit
MAIL_PORT=1025
MAILPIT_PORT=8025

WHATSAPP_WEB_HOST=127.0.0.1
WHATSAPP_WEB_PORT=3000
WHATSAPP_WEB_NODE_BINARY=node
